{{ define "content" }}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/{{ .Post.Picture_url }}')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-heading">
          <h1>{{ .Post.Title }}</h1>
          <h2 class="subheading">{{ .Post.Description }}</h2>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Post Content-->
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div id="blog-content"></div>
      </div>
    </div>
  </div>
</article>
<script>
  document.getElementById("blog-content").innerHTML = "{{ .Post.Content }}"
</script>
{{ end }}

