{{ define "content" }}
<h1>
  Kayıt Düzenle
  <a href="/admin" class="btn btn-outline-primary float-right"><i class="fa fa-arrow-left"></i> Geri Dön</a>
</h1>
<hr>
<form action="/admin/update/{{ .Post.ID }}" method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label>Blog Başlığı</label>
    <input type="text" name="blog-title" class="form-control" value="{{ .Post.Title }}">
  </div>
  <div class="form-group">
    <label>Blog Açıklaması</label>
    <textarea name="blog-desc" cols="30" rows="2" class="form-control">{{ .Post.Description }}</textarea>
  </div>
  <div class="form-group">
    <label>Kategori</label>
    <select name="blog-category" class="form-control" >
      {{ $categoryID := .Post.CategoryID }}
      {{ range $index,$value := .Categories }}
      <option {{ if eq $value.ID $categoryID }} selected {{ end }} value="{{ $value.ID }}">{{ $value.Title }}</option>
      {{ end }}
    </select>
  </div>
  <div class="form-group">
    <img width="100px" src="/{{ .Post.Picture_url }}" class="my-2" id="current-picture">
    <label>Blog Görseli</label>
    <input type="file" name="blog-picture" class="form-control-file" id="file-upload">
    <input type="hidden" name="is_selected" id="is_selected" value="0">
  </div>
  <div class="form-group">
    <label>Blog İçeriği</label>
    <textarea name="blog-content" id="summernote" cols="30" rows="2" class="form-control">{{ .Post.Content }}</textarea>
  </div>
  <button type="submit" class="btn btn-outline-success w-100 my-3">Güncelle</button>
</form>
<script>
  document.getElementById("file-upload").addEventListener("change",function (){
    document.getElementById("is_selected").setAttribute("value","1")
    document.getElementById("current-picture").style.display = "none"
  })
</script>
{{ end }}