{{ define "index" }}
<!DOCTYPE html>
<html lang="tr">

{{ template "head" }}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {{ template "sidebar" }}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {{ template "navbar" }}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    {{ template "content" . }}


                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {{ template "footer" }}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->



{{ template "scripts" }}

</body>

</html>
{{ end }}