{{ define "content" }}
<h1>
  Blog Kategorileri
</h1>
<form action="/admin/kategoriler/add" method="post">
  <div class="input-group">
    <input type="text" name="category-title" class="form-control" placeholder="Kategori Adı">
    <div class="input-group-append">
      <button type="submit" class="btn btn-success">Kaydet</button>
    </div>
  </div>
</form>
<hr>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Kategori Başlığı</th>
    <th scope="col">Slug</th>
    <th scope="col">Eklenme Tarihi</th>
    <th scope="col">İşlemler</th>
  </tr>
  </thead>
  <tbody>
  {{ range $index,$value := .Categories }}
  <tr>
    <th scope="row">{{ $value.ID }}</th>
    <td>{{ $value.Title }}</td>
    <td>{{ $value.Slug }}</td>
    <td>{{ $value.CreatedAt }}</td>
    <td>
      <a href="/admin//kategoriler/delete/{{ $value.ID }}" class="btn btn-outline-danger"><i class="fa fa-trash"></i></a>
    </td>
  </tr>
  {{ end }}
  </tbody>
</table>
{{ end }}