{{ define "navbar" }}
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

  <!-- Sidebar Toggle (Topbar) -->
  <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
    <i class="fa fa-bars"></i>
  </button>
  <!-- Topbar Navbar -->
  <ul class="navbar-nav ml-auto">
    <!-- Nav Item - Alerts -->
    <li class="nav-item dropdown no-arrow mx-1">
      <a class="text-danger nav-link dropdown-toggle" href="/admin/logout">
        <i class="fas fa-power-off mr-2"></i>
        Çıkış Yap
      </a>
    </li>
  </ul>
</nav>
<!-- End of Topbar -->
{{ end }}