{{ define "content" }}
<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/assets/img/home-bg.jpg')">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>GoLang Blog</h1>
          <span class="subheading">Go ile Web Programlama</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      {{ range $index,$value := .Posts }}
      <div class="post-preview">
        <a href="/yazilar/{{ $value.Slug }}">
          <h2 class="post-title">{{ $value.Title }}</h2>
          <h3 class="post-subtitle">{{ $value.Description }}</h3>
        </a>
        <p class="post-meta">
          {{ getDate $value.CreatedAt }} - {{ getCategory $value.CategoryID }}
        </p>
      </div>
      <hr />
      {{ end }}
    </div>
  </div>
</div>
{{ end }}